### <font color='red'> \* 해당 자료의 소스는 '처음 시작하는 파이썬(Bill Lubanovic 지음, 최길우 옮김, 한빛미디어)' 도서 및 일부 다른 소스의 내용을 기반으로 작성된 내용임을 알립니다.  </font>

[도서정보 확인하기](http://book.naver.com/bookdb/book_detail.nhn?bid=9899038)

### 변수, 이름, 객체

파이썬에서는 모든 것(bool, 정수, 실수, 문자열, 데이터 구조, 함수 , 프로그램)이 객체(object)로 구현되어 있음  
클래스(class): definition of object, type()과 의미가 거의 같음

In [2]:
type('a')

str

In [3]:
type(1)

int

In [4]:
type(1.5)

float

**파이썬의 예약어 : **  
False, None, True, and, as, assert, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yeield

### 숫자

**연산자 설명 :**  

| 연산자 | 설명 | 예   | 결과
| :---   | :-- | :--- | :---
| +      | 더하기 | 5 +8 | 13
| -      | 빼기   | 90-10 | 80
| *      | 곱하기 | 4*7 | 28
| /      | 부동소수점나누기 | 7/2 | 3.5
| //     | 정수나누기 | 7//2 | 3
| %      | 나머지 | 7%2 | 1
| divmod(a,b) | 몫과 나머지 | divmod(7,2) | (3,1)
| **     | 지수 | 3**4 | 81

In [11]:
a = 1
a = a + 1
a

2

In [12]:
a = 1
a += 1
a

2

In [14]:
7//2

3

In [15]:
7%2

1

In [16]:
divmod(7,2)

(3, 1)

### 수학함수

표준 모듈인 math에서 다양한 수학 함수를 제공한다.

In [38]:
import math

In [39]:
math.pi

3.141592653589793

In [40]:
math.e

2.718281828459045

In [41]:
math.fabs(-271.1) # 절대값

271.1

In [47]:
math.floor(98.3422526) # 내림하여 정수 반환

98

In [48]:
math.ceil(98.3422526) # 올림 하여 정수 반환

99

In [50]:
math.factorial(4)

24

In [51]:
math.log(math.e) # 밑(base)가 e인 인자의 로그값

1.0

In [52]:
math.log(8,2) #

3.0

In [53]:
math.pow(2,3) # 2**3과 동일

8.0

In [54]:
math.sqrt(100.0) # 제곱근

10.0

In [55]:
math.radians(180.0)

3.141592653589793

In [56]:
math.degrees(math.pi)

180.0

** 삼각함수 :**   

math.sin(radian value), math.cos(), math.tan(), math.asin(), math.acos(), math.atan(), math.atan2() 등등

In [63]:
math.sin(math.radians(90))

1.0

In [64]:
math.hypot(3,4) # 피타고라스 정리

5.0

### 진수

정수 앞에 진수(base)를 붙이지 않으면 10진수로 인식한다.   
2진수(binary) : 0b or 0B  
8진수(octal) : 0o or 0O  
16진수(hex) : 0x or 0X

In [17]:
10

10

In [18]:
0B10

2

In [19]:
0O10

8

In [20]:
0X10

16

### 형변환

In [22]:
int(True)

1

In [23]:
int(False)

0

In [25]:
int('99') # 문자열 -> 숫자

99

In [27]:
int('99.1') # 소수점 또는 지수를 포함하는 문자열을 정수로 형변환 안됨

ValueError: invalid literal for int() with base 10: '99.1'

In [29]:
True + 1 # True는 1로 자동 형변환 됨

2

In [34]:
float(1)

1.0

In [35]:
float(True)

1.0

In [36]:
float('99')

99.0

In [37]:
float(1.0e4)

10000.0

### int의 크기

파이썬 3에서는 2에서 존재하던 long이 int로 대체하면서 int가 매우 유연해졌다.  
64비트 보다 더 큰 공간을 가질 수 있다

In [32]:
googol = 10**100
googol # 원래 구글이 이전에 사용하였던 이름이었으며, 10**100을 의미함

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [33]:
googol * googol

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

### 문자열

In [1]:
'snap' # 단일, 이중 인용부호를 똑같이 처리함

'snap'

In [2]:
"snap"

'snap'

왜 두가지 종류의 인용 부호가 있을까? 
인용 부호가 포함된 문자열을 만들기 위해서이다. 단일 인용 부호의 문자열을 이중 인용 부호에 넣거나 또는 그 반대로 하기 위해서이다.

In [3]:
"'Nay,' said the naysayer"

"'Nay,' said the naysayer"

In [4]:
'A "two by for" is actually .....'

'A "two by for" is actually .....'

세 개의 단일 인용 부호 혹은 세 개의 이중 인용 부호를 사용할 수 있는데, 여러 줄의 문자열에 사용한다.
대화식 인터프리터 환경에서는 '', ""로 하면 처리하기가 어렵다.

In [8]:
poem = '''I do not like thee, Doctor Fell.
the reason why, I cannot tell.
but this I know, and know full well:
I do not like thee, Doctor Fell.'''

In [9]:
poem

'I do not like thee, Doctor Fell.\nthe reason why, I cannot tell.\nbut this I know, and know full well:\nI do not like thee, Doctor Fell.'

In [10]:
print(poem)

I do not like thee, Doctor Fell.
the reason why, I cannot tell.
but this I know, and know full well:
I do not like thee, Doctor Fell.

빈 문자열은 여러 문자열을 한 문자열로 합칠 때 문자열 사이에 공백을 입력할 수 있어서 유용하다

In [15]:
bottles = 99
base =''
base += 'current inventory: '
base += str(bottles)
base

'current inventory: 99'

** 이스케이프 문자("\") **

In [18]:
print('A man, \nA plan, \nA canal:\nPanama.') # \n 줄바꿈

A man,
A plan,
A canal:
Panama.

In [20]:
print('AB\tC') # \t tap

AB	C

In [22]:
print('Today we honor our friend, the backslash: \\.') # 백슬래쉬(\)를 표현할 경우 두번쓴다.\\

Today we honor our friend, the backslash: \.

In [23]:
print('\"The thing\" is very important.')

"The thing" is very important.

** 결합(+), 복제(*), 추출([]) **

In [24]:
'I' + 'am' + 'Jaegoo'

'IamJaegoo'

In [27]:
"I" "am" "Jaegoo"

'IamJaegoo'

In [29]:
print('I','am','Jaegoo')

I am Jaegoo

In [30]:
start = 'Na' * 4 +'\n'

In [31]:
start

'NaNaNaNa\n'

In [32]:
print(start)

NaNaNaNa

In [2]:
letters = 'abcdefghijklmnopqrstuvwxyz'

In [3]:
letters[24]

'y'

In [4]:
letters[-2]

'y'

In [5]:
letters[25] ='Z' # 문자열도 index와 같이 불변하기에 특정 인덱스에 문자를 삽입 및 변경이 안된다.

TypeError: 'str' object does not support item assignment

In [47]:
print(letters.replace('z','Z'))

abcdefghijklmnopqrstuvwxyZ

In [48]:
print(letters[:-1] + 'Z')

abcdefghijklmnopqrstuvwxyZ

** 슬라이스([:]) **  
  
[:] 처음부터 끝까지 전체 시퀀스를 추출  
[start:]  
[:end]  
[start:end]  
[start:end:step] step만큼 문자를 건너뜀

In [6]:
letters

'abcdefghijklmnopqrstuvwxyz'

In [7]:
letters[:]

'abcdefghijklmnopqrstuvwxyz'

In [8]:
letters[20:]

'uvwxyz'

In [12]:
letters[-6:]

'uvwxyz'

In [9]:
letters[:6]

'abcdef'

In [13]:
letters[:-20]

'abcdef'

In [10]:
letters[6:20]

'ghijklmnopqrst'

In [14]:
letters[::2]

'acegikmoqsuwy'

In [15]:
letters[19::2]

'tvxz'

In [16]:
letters[:19:2]

'acegikmoqs'

In [17]:
letters[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [18]:
letters[-50:]

'abcdefghijklmnopqrstuvwxyz'

In [19]:
letters[-51:-50]

''

In [20]:
letters[:70]

'abcdefghijklmnopqrstuvwxyz'

In [21]:
letters[70:71]

''

** 문자열 길이(len()), 문자열 나누기(split()), 문자열 결합하기(join()) **

In [22]:
len(letters)

26

In [23]:
todos = 'get gloves, get mask, give cat vitamins, call ambulance'

In [24]:
todos.split()

['get',
 'gloves,',
 'get',
 'mask,',
 'give',
 'cat',
 'vitamins,',
 'call',
 'ambulance']

In [26]:
todos.split(',')

['get gloves', ' get mask', ' give cat vitamins', ' call ambulance']

In [31]:
todos2 = todos.split(',')
todos2 = todos.split(' ')
todos2

['get',
 'gloves,',
 'get',
 'mask,',
 'give',
 'cat',
 'vitamins,',
 'call',
 'ambulance']

In [40]:
crypto_list = ['Yeti','Bigfoot','Loch Ness Monster']

In [41]:
crypto_list = ', '.join(crypto_list)
crypto_list

'Yeti, Bigfoot, Loch Ness Monster'

** 양쪽 문자(공백, 임의지정문자열) 제거, 대소문자 변경, 배치정렬, 대체, 기타 문자열 다루기 **

In [46]:
setup = 'a duck goes into a bar...    '
setup

'a duck goes into a bar...    '

In [52]:
setup = setup.strip()  # Trim과 같이 공백 제거
setup

'a duck goes into a bar...'

In [57]:
setup = setup.strip('...') # 마지막 양쪽에 '...'가 포함이 되어 있으면 제거됨
#setup = setup.strip('.')
setup

'a duck goes into a bar'

In [59]:
setup = setup.strip('a d') # 마지막 양쪽에 '...'가 포함이 되어 있으면 제거됨
setup

'uck goes into a bar'

In [60]:
setup = 'a duck goes into a bar'

In [63]:
setup.capitalize()

'A duck goes into a bar'

In [64]:
setup.title()

'A Duck Goes Into A Bar'

In [65]:
setup.upper()

'A DUCK GOES INTO A BAR'

In [66]:
setup.lower()

'a duck goes into a bar'

In [68]:
setup.swapcase() # 대문자는 소문자로, 소문자는 대문자로

'A DUCK GOES INTO A BAR'

In [69]:
setup.center(50)

'              a duck goes into a bar              '

In [70]:
setup.ljust(50)

'a duck goes into a bar                            '

In [71]:
setup.rjust(50)

'                            a duck goes into a bar'

In [77]:
'a duck goes into a bar'.replace('duck', 'marmoset')

'a marmoset goes into a bar'

In [79]:
'a duck goes into a bar'.replace('a', 'a famous') # 전체 문자열에서 해당 되는거 모두 바꿈

'a famous duck goes into a famous ba famousr'

In [80]:
'a duck goes into a bar'.replace('a', 'a famous',1) # 전체 문자열에서 첫번째로 해당되는 것만 바꿈

'a famous duck goes into a bar'

In [81]:
'a duck goes into a bar'.replace('a', 'a famous',2) # 전체 문자열에서 두번째까지만 해당되는 것만 바꿈

'a famous duck goes into a famous bar'

In [86]:
'a duck goes into a bar'.startswith('a') # 문자열 처음이 'a'로 시작되는가?

True

In [87]:
'a duck goes into a bar'.endswith('br') # 문자열 끝부분이 'br'로 끝나는가?

False

In [89]:
'a duck goes into a bar'.find('a') # 'a'가 나오는 offset은?

0

In [90]:
'a duck goes into a bar'.rfind('a') # 'a'가 마지막으로 나오는 offset은?

20

In [91]:
'a duck goes into a bar'.count('a') # 'a'는 몇 번 나오는가?

3

In [93]:
'a duck goes into a bar.'.isalnum() # 이 문자열은 글자와 숫자로만 이루어져있는가? False인 이유는 띄어쓰기 또는 .이 있어서

False

In [98]:
'bar'.isalnum()

True