### <font color='red'> \* 해당 자료의 소스는 '처음 시작하는 파이썬(Bill Lubanovic 지음, 최길우 옮김, 한빛미디어)' 도서 및 일부 다른 소스의 내용을 기반으로 작성된 내용임을 알립니다.  </font>

[도서정보 확인하기](http://book.naver.com/bookdb/book_detail.nhn?bid=9899038)

# Data Structure in Python

부울(bool), 정수, 문자열 등의 데이터 타입들이 원자(atom)이라면,  
이 원자들을 담고 있는 객체인 자료구조(data structure)는 분자이다.

## 1. 리스트(list) and 튜플(tuple)
문자열이 시퀀스(sequence)라면, 리스트/튜플은 모든 것(어떠한 객체 상관없이 모두)의 시퀀스  
리스트'[ ]'는 <font color = 'blue'>**변경가능(할당,수정,생성)**</font>하고,  
튜플'( )'은 <font color = 'red'>**변경이 불가능**</font>하다.

리스트는 데이터를 순차적으로 파악하는데 유용하며, 내용의 순서가 바뀔 수 있다

In [5]:
# 리스트 객체 생성
emptylist = []
emptylist

[]

In [8]:
emptylist = list()
emptylist

[]

In [7]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

** list() 함수는 다른 데이터 타입을 리스트로 변환한다**

In [67]:
# 문자열을 리스트로 변환
list('cat')

['c', 'a', 't']

In [68]:
# 이전에 배웠던 split()함수는 문자열을 구분자로 나눠 리스트로 변환함
today = '2018-10-14'
today.split('-')

['2018', '10', '14']

In [69]:
splitme = 'a/b//c/d///e'
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

In [70]:
splitme.split('//')

['a/b', 'c/d', '/e']

In [71]:
# 튜플은 리스트로 변환한다
a_tuple = ('test1', 'test2', 'test3')
list(a_tuple)

['test1', 'test2', 'test3']

** [offset]으로 항목 얻기 및 수정 **

In [93]:
family = ['father', 'mother', 'son', 'daughter']

In [94]:
print(family[0], family[-4])

father father

In [95]:
print(family[1], family[-3])

mother mother

In [104]:
alphabatA = ['arise', 'add', 'above']
alphabatB = ['book', 'bird', 'bat']
alphabatC = ['cook', 'cake', 'company']
alphabats = [alphabatA, alphabatB, alphabatC]

In [105]:
alphabatB[1]

'bird'

In [106]:
alphabats[1][1]

'bird'

In [107]:
alphabats[1][1] = 'BIRD'
alphabats[1][1]

'BIRD'

** slice로 항목 얻기 **

In [47]:
alphabatA[1:]

['add', 'above']

In [48]:
alphabatA[::2]

['arise', 'above']

In [49]:
alphabatA[::-2]

['above', 'arise']

** 리스트에 추가, 병합, 삭제

In [113]:
# 리스트 마지막에 항목 추가하기
alphabatA.append('APRTMENT')
alphabatA.append('APPROVE')
alphabatA

['arise', 'add', 'above', 'APRTMENT', 'APPROVE']

In [109]:
# 리스트에 다른 리스트 병합하기
alphabatA.extend(alphabatB)
#alphabatA += alphabatB # 동일한 결과
alphabatA

['arise', 'add', 'above', 'APRTMENT', 'APPROVE', 'book', 'BIRD', 'bat']

In [110]:
# append()를 사용하면 항목을 병합하지 않고, 리스트 자체를 추가함
alphabatA.append(alphabatC)
alphabatA

['arise',
 'add',
 'above',
 'APRTMENT',
 'APPROVE',
 'book',
 'BIRD',
 'bat',
 ['cook', 'cake', 'company']]

In [114]:
# offset과 insert()로 원하는 곳에 항목 추가하기
alphabatA = ['arise', 'add', 'above']
alphabatA.insert(1,'addiction')
alphabatA

['arise', 'addiction', 'add', 'above']

In [117]:
# offest으로 원하는 곳에 항목 삭제하기
del alphabatA[1]
alphabatA

['arise', 'add', 'above']

In [118]:
# offest으로 마지막 항목 삭제하기
# del은 리스트 함수가 아닌 python의 구문임
del alphabatA[-1]
alphabatA

['arise', 'add']

In [119]:
# 값으로 항목 삭제하기
alphabatA = ['arise', 'add', 'above']
alphabatA.remove('add')
alphabatA

['arise', 'above']

** pop()으로 유용한 기능 사용 **

pop은 리스트에서 항목을 가져오는 동시에 그 항목을 삭제한다.  
pop(0)은 리스트 head 부분을 실행  
pop(), pop(-1)은 리스트 tail 부분을 실행

pop을 이용하여 아래의 기능을 수행할 수 있다  
pop(), pop(-1) -> stack(LIFO, Last In First Out, 후입선출)  
pop(0) -> queue(FIFO, First In First Out, 선입선출)

In [122]:
number = [1,2,3,4,5,6,7,8,9,10]
number.pop(0)
number

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [123]:
number = [1,2,3,4,5,6,7,8,9,10]
number.pop()
number

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [124]:
number = [1,2,3,4,5,6,7,8,9,10]
number.pop(-1)
number

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [130]:
number = [1,2,3,4,5,6,7,8,9,10]
number.pop(-2)
number

[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [125]:
# 후입선출
number = []
number.append(1)
number.append(2)
number.append(3)
number.pop()
number

[1, 2]

In [126]:
# 선입선출
number = []
number.append(1)
number.append(2)
number.append(3)
number.pop(0)
number

[2, 3]

In [129]:
# tip : 값으로 리스트 오프셋을 알고 싶다면 index()를 이용하여 찾을 수 있다  
alphabatA = ['arise', 'add', 'above']
alphabatA.index('above')

2

** in : 존재 여부 확인하기 **  
항목의 순서에 상관없이 리스트의 존재여부만 확인하고자 하면 set(셋)은 유일한 값을 저장하고 조회하는데 있어 리스트 보다 훨씬 효율적이다

In [134]:
words = ['arise', 'add', 'above', 'APARTMENT', 'APPROVE', 'book', 'BIRD', 'bat']
'apartment' in words  # 대소문자 구분

False

In [135]:
'APARTMENT' in words

True

** count() : 값세기 **  
리스트에 특정한 값이 몇 개가 존재하는가?

In [139]:
words = ['arise', 'add', 'above', 'arise', 'APPROVE', 'APPROVE', 'above', 'arise']
words.count('arise')

3

** len() : 리스트 항목 수 세기 **

In [151]:
words = ['arise', 'add', 'above', 'arise', 'APPROVE', 'APPROVE', 'above', 'arise']
len(words)

8

** sort() : 정렬하기 **  
sort() - 리스트 자체를 내부적으로 정렬한다  
sorted() - 리스트의 정렬된 복사본을 반환한다

In [148]:
words = ['arise', 'add', 'above', 'arise', 'APPROVE', 'APPROVE', 'above', 'arise']
words.sort() # 오름차순
words

['APPROVE', 'APPROVE', 'above', 'above', 'add', 'arise', 'arise', 'arise']

In [150]:
words.sort(reverse=True) # 내림차순
words

['arise', 'arise', 'arise', 'add', 'above', 'above', 'APPROVE', 'APPROVE']

In [145]:
words = ['arise', 'add', 'above', 'arise', 'APPROVE', 'APPROVE', 'above', 'arise']
sorted(words)  # 정렬이 안되었다. 반환받을 객체가 필요함. 다음 구문으로 대체하자
words

['arise', 'add', 'above', 'arise', 'APPROVE', 'APPROVE', 'above', 'arise']

In [146]:
words = ['arise', 'add', 'above', 'arise', 'APPROVE', 'APPROVE', 'above', 'arise']
words2 = sorted(words)  
words2

['APPROVE', 'APPROVE', 'above', 'above', 'add', 'arise', 'arise', 'arise']

** 할당(=)과 복사(copy()) **

In [166]:
a = [1, 2, 3]
b = a
b

[1, 2, 3]

In [167]:
# a가 변하면 b도 변한다. 왜? b는 a를 참조하고 있으니깐!!
# 이런 경우에는 다음 줄 코드와 같이 복사를 해야한다.
a[0] = 'changed'
print('a is ', a, ',', 'b is ', b)

a is  ['changed', 2, 3] , b is  ['changed', 2, 3]

In [168]:
# 1. copy() 사용
a = [1, 2, 3]
b = a.copy()
a[0] = 'changed'
print('a is ', a, ',', 'b is ', b)

a is  ['changed', 2, 3] , b is  [1, 2, 3]

In [169]:
# 2. list() 변환 함수 사용
a = [1, 2, 3]
b = list(a)
a[0] = 'changed'
print('a is ', a, ',', 'b is ', b)

a is  ['changed', 2, 3] , b is  [1, 2, 3]

In [170]:
# 3. 슬라이스(:) 사용
a = [1, 2, 3]
b = a[:]
a[0] = 'changed'
print('a is ', a, ',', 'b is ', b)

a is  ['changed', 2, 3] , b is  [1, 2, 3]

## 2. 튜플(tuple) 자세히 알기  
튜플은 리스트의 수정, 삭제 등의 함수를 가지고 있지 않고, 함수의 수가 매우 적다.  
왜 튜플을 사용하는 것인가?  
1. 튜플은 더 적은 공간을 사용한다
2. 실수로 튜플의 항목이 손상될 염려가 없다. => 전역변수 처럼 상수 리스트로 사용할 때  
3. 튜플을 딕셔너리 키로 사용할 수 있다. => 딕셔너리는 다음 절에서 확인 할 것  
4. 네임드 튜플(named tuple)은 객체의 단순한 대안이 될 수 있다.  
5. 함수의 인자들은 튜플로 전달된다.  
6. 한 문장에서 값을 교환하기 위해 임시 변수를 사용하지 않아도 된다.

In [172]:
empty_tuple = ()
empty_tuple

()

In [173]:
empty_tuple = tuple()
empty_tuple

()

In [182]:
# 이 구문에서는 문자열로 생성되었다.
# 한 개의 항목만으로 tuple을 생성시에는 꼭 ',' 를 붙여아 한다.
one_tuple = 'test'
print(one_tuple, ',', type(one_tuple))

test , <class 'str'>

In [183]:
one_tuple = 'test',
print(one_tuple, ',', type(one_tuple))

('test',) , <class 'tuple'>

In [184]:
# 여러개 항목을 ','를 이용하여 생성하였다면, 튜플로 생성된다.
long_tuple = '1', '2', '3', '4'
print(long_tuple, ',', type(long_tuple))

('1', '2', '3', '4') , <class 'tuple'>

In [186]:
# 하지만 가독성을 위해 '()'를 붙히자
long_tuple = ('1', '2', '3', '4')
print(long_tuple, ',', type(long_tuple))

('1', '2', '3', '4') , <class 'tuple'>

** tuple unpacking **  
튜플은 한 번에 여러 변수를 할당할 수 있다. 여러 변수를 한 번에 할당할 때 사용하면 편리하다

In [190]:
a, b, c = ('test1', 'test2', 'test3')
print(b)

test2

In [191]:
# 앞서 언급한 것 처럼 ()가 없어도 된다
a, b, c = 'test1', 'test2', 'test3'
print(b)

test2

In [199]:
# 2 개의 변수의 값을 서로 변경하기
# 임시 변수(temp)를 사용하며 구문이 길어진다.
a = 1
b = 2
print('a = ',a, ',' , 'b = ', b)
temp  = b
b = a
a = temp
print('a = ',a, ',' , 'b = ', b)

a =  1 , b =  2
a =  2 , b =  1

In [201]:
a = 1
b = 2
print('a = ',a, ',' , 'b = ', b)
a, b = (b, a)
#a, b = b, a
print('a = ',a, ',' , 'b = ', b)

a =  1 , b =  2
a =  2 , b =  1

In [202]:
mylist = [1,2,3,4,5]
type(mylist)

list

In [204]:
# list를 tuple로 형 변환
mytuple = tuple(mylist)
type(mytuple)

tuple

## 3. 딕셔너리(dictionary)

딕셔너리는 리스트와 비슷하지만, 항목의 순서를 따지지 않고, 오프셋으로 항목을 선택할 수 없다.  
**{key1:value1, key2:value2, ...}**의 셋으로 이루어진다.  
여기 key에는 어떠한 데이터 타입도 가능한데, 대부분은 문자열이다.  
다른 언어에서는 딕셔너리를 연관 배열, 해시, 해시맵 이라고 부르며,   
파이썬에서는 dict(딕트)라고도 한다.

** dict 생성 **

In [208]:

emptydict = {}
emptydict

{}

In [207]:
emptydict = dict()
emptydict

{}

In [214]:
# list -> dict 형변환
alphabatSet = [['a','b'],['c','d'],['e','f']]
print(alphabatSet, type(alphabatSet))

[['a', 'b'], ['c', 'd'], ['e', 'f']] <class 'list'>

In [213]:
alphabatSet = dict(alphabatSet)
print(alphabatSet, type(alphabatSet))

{'a': 'b', 'c': 'd', 'e': 'f'} <class 'dict'>

In [215]:
# tuple -> dict 형변환
alphabatSet = (('a','b'),('c','d'),('e','f'))
print(alphabatSet, type(alphabatSet))

(('a', 'b'), ('c', 'd'), ('e', 'f')) <class 'tuple'>

In [216]:
alphabatSet = dict(alphabatSet)
print(alphabatSet, type(alphabatSet))

{'a': 'b', 'c': 'd', 'e': 'f'} <class 'dict'>

In [219]:
# tuple & list -> dict 형변환
alphabatSet = (['a','b'],['c','d'],['e','f'])
print(alphabatSet, type(alphabatSet))

(['a', 'b'], ['c', 'd'], ['e', 'f']) <class 'tuple'>

In [220]:
alphabatSet = dict(alphabatSet)
print(alphabatSet, type(alphabatSet))

{'a': 'b', 'c': 'd', 'e': 'f'} <class 'dict'>

In [223]:
# 두 문자 문자열 -> dict 형변환
alphabatSet = ('ab','cd','ef')
print(alphabatSet, type(alphabatSet))

('ab', 'cd', 'ef') <class 'tuple'>

In [224]:
alphabatSet = dict(alphabatSet)
print(alphabatSet, type(alphabatSet))

{'a': 'b', 'c': 'd', 'e': 'f'} <class 'dict'>

** 항목 추가/변경/삭제 **

키가 딕셔너리에 이미 존재하는 경우, 그 값은 새 값으로 대체되며,  
존재하지 않는 경우, 새값이 키와 함께 dict에 추가된다  
리스트와 달리 순서를 고려하지 않기 때문에 인덱스를 신경쓸 필요가 없다  
딕셔너리의 키 순서는 임의적이며, 항목을 어떻게 추가하느지에 따라 그 순서가 달리질 수 있다

In [278]:
myfamily = {
    'father':'JG Kim',
    'mother':'SY Park',
    'twin1':'GY Kim'
}

In [279]:
# 누락 데이터 추가
myfamily['twin2'] = 'NY Park'
myfamily

{'father': 'JG Kim',
 'mother': 'SY Park',
 'twin1': 'GY Kim',
 'twin2': 'NY Park'}

In [280]:
# 그런데 성을 잘 못 입력하여 수정함
# 이미 twin2키가 존재하기 때문에 값만 덮어쓴다.
# 이유 : 딕셔너리 key는 unique해야 하기 때문이다.
myfamily['twin2'] = 'NY kim'
myfamily

{'father': 'JG Kim', 'mother': 'SY Park', 'twin1': 'GY Kim', 'twin2': 'NY kim'}

In [281]:
# 할아버지, 할머니도 추가
# 먄약 myfamily_add에 myfamily와 같은 키값이 있다면, 두번째 딕셔너리의 myfamily_add가 업데이트 된다
myfamily_add = {
    'grandfather':'SD Kim',
    'grandmother':'SA Song',
    'father':'JAEGOO KIM'
}
myfamily.update(myfamily_add)
myfamily

{'father': 'JAEGOO KIM',
 'grandfather': 'SD Kim',
 'grandmother': 'SA Song',
 'mother': 'SY Park',
 'twin1': 'GY Kim',
 'twin2': 'NY kim'}

In [282]:
# 삭제하기
del myfamily['father']
myfamily

{'grandfather': 'SD Kim',
 'grandmother': 'SA Song',
 'mother': 'SY Park',
 'twin1': 'GY Kim',
 'twin2': 'NY kim'}

In [283]:
# 딕셔너리에 키값이 존재하는지 확인
'mother' in myfamily

True

In [284]:
# value 값을 넣었을 경우에는 못 찾음
'SY Park' in myfamily

False

In [285]:
myfamily.get('mother', 'Not in myfamily')

'SY Park'

In [286]:
# 옵션값에 해당 키가 없을 때 출력해줄 항목을 지정해준다.
myfamily.get('father', 'Not in myfamily')

'Not in myfamily'

In [287]:
# 모든 key 얻기
# 리스트로 반환
myfamily.keys()

dict_keys(['mother', 'twin1', 'twin2', 'grandfather', 'grandmother'])

In [288]:
# 모든 value 얻기
# 리스트로 반환
myfamily.values()

dict_values(['SY Park', 'GY Kim', 'NY kim', 'SD Kim', 'SA Song'])

In [289]:
myfamily

{'grandfather': 'SD Kim',
 'grandmother': 'SA Song',
 'mother': 'SY Park',
 'twin1': 'GY Kim',
 'twin2': 'NY kim'}

In [290]:
# 모든 key와 value의 쌍을 list로 반환하고 싶다면,
# 하지만, 이 경우에는 key값만 list로 반환된다.
list(myfamily)

['mother', 'twin1', 'twin2', 'grandfather', 'grandmother']

In [291]:
# 전체는 list로 반환되는데, 각 key와 value는 tuple로 반환된다.
list(myfamily.items())

[('mother', 'SY Park'),
 ('twin1', 'GY Kim'),
 ('twin2', 'NY kim'),
 ('grandfather', 'SD Kim'),
 ('grandmother', 'SA Song')]

In [292]:
myfamily

{'grandfather': 'SD Kim',
 'grandmother': 'SA Song',
 'mother': 'SY Park',
 'twin1': 'GY Kim',
 'twin2': 'NY kim'}

In [294]:
# 할당 
# myfamily2가 myfamily로 부터 할당을 받고 나서 myfamily 데이터 변경이 되어 myfamiliy2에도 영향을 미침
myfamily2 = myfamily
myfamily['father'] = 'JG Kim'
myfamily2

{'father': 'JG Kim',
 'grandfather': 'SD Kim',
 'grandmother': 'SA Song',
 'mother': 'SY Park',
 'twin1': 'GY Kim',
 'twin2': 'NY kim'}

In [296]:
# 복사
# 
myfamily2 = myfamily.copy()
myfamily['somebody'] = 'somebody'
myfamily

{'father': 'JG Kim',
 'grandfather': 'SD Kim',
 'grandmother': 'SA Song',
 'mother': 'SY Park',
 'somebody': 'somebody',
 'twin1': 'GY Kim',
 'twin2': 'NY kim'}

In [297]:
myfamily2

{'father': 'JG Kim',
 'grandfather': 'SD Kim',
 'grandmother': 'SA Song',
 'mother': 'SY Park',
 'twin1': 'GY Kim',
 'twin2': 'NY kim'}

In [ ]:
# 모든 항목 삭제하기
myfamily.clear()
myfamily

** TIPS **  
딕셔너리의 키는 불변하기 때문에 추가/수정/삭제가 되는 리스트, 딕셔너리, 셋은 다른 딕셔너리의 키가 될 수 없다.   
하지만, 튜플은 딕셔너리의 키가 될 수 있다  
관심있는 장소를 위도, 경도, 고도로 인덱싱할 때 가능

In [395]:
houses = {
    (44.79, -93.14, 285):'My House',
    (38.89, -77.03, 13):'The White House'
}
houses

{(38.89, -77.03, 13): 'The White House', (44.79, -93.14, 285): 'My House'}

## 4. 셋(set)
set은 값은 dict의 key에 해당하며, dict과 동일하게 unique해야 한다.  
어떤 것이 존재하는지 여부만 판단하기 위해서 사용함  
집합에서 합집합, 교집합 등의 표현에 사용할 수 있으며,  
sql측면에서는 inner join, right outer join, left outer join 등으로 표현할 수 있다

** set 생성하기 **

In [299]:
empty_set = set()
empty_set

set()

In [305]:
# set의 경우에 {}으로 생성할 경우, dictionary로 생성이 되기 때문에 set()함수로 생성해준다.
empty_set = {}
type(empty_set)

dict

In [309]:
evenNumber = {0,2,4,6,8}
oddNumber = {1,3,5,7,9}
print(evenNumber, type(evenNumber))
print(oddNumber, type(oddNumber))

{0, 2, 4, 6, 8} <class 'set'>
{1, 3, 5, 7, 9} <class 'set'>

** 데이터 타입(형) 변환 **  
리스트, 문자열, 튜플, 딕셔너리로 부터 중복된 값을 버린 셋(교집합)을 생성할 수 있음

In [311]:
set('apple')

{'a', 'e', 'l', 'p'}

In [313]:
set(['apple','banana','apple','grape'])

{'apple', 'banana', 'grape'}

In [315]:
set(('apple','banana','apple','grape'))

{'apple', 'banana', 'grape'}

In [317]:
set({'apple':'red','banana':'yellow','grape':'grape'})

{'apple', 'banana', 'grape'}

** 조합(combination) **

  ** 1) set intersaction operator(교집합) : &(임퍼샌드) **

In [320]:
# 예제1
a = {1,2};b = {2,3}
a&b

{2}

In [345]:
a.intersection(b)

{2}

In [324]:
# 예제2
# 전체적으로 dict type이며, value값에는 set type으로 정의되어 있다
drinks = {
    'martini' : {'vodka','vermouth'},
    'black russian' : {'vodka','kahlua'},
    'white russian' : {'cream','kahlua','vodka'},
    'manhattan' : {'rye','vermouth','bitters'},
    'screwdriver' : {'orange juice','vodka'}
}
type(drinks)

dict

In [329]:
# vodka가 포함된 음료는?
# set이 아닌 일반적인 조건 구문으로 처리함.
for key, value in drinks.items():
    if 'vodka' in value:
        print(key)

martini
black russian
white russian
screwdriver

In [339]:
# vodka가 포함된 음료는?
# set을 이용한 것이 코드가 좀 더 간결해진다.
for key, value in drinks.items():
    if {'vodka'} & value:
        print(key)

martini
black russian
white russian
screwdriver

In [340]:
# vodka를 원하지만, vermouth나 cream이 들어가지 않는 음료는?
# set이 아닌 일반적인 조건 구문으로 처리함.
for key, value in drinks.items():
    if 'vodka' in value and not ('vermouth' in value or 'cream' in value):
        print(key)

black russian
screwdriver

In [341]:
# vodka를 원하지만, vermouth나 cream이 들어가지 않는 음료는?
# set을 이용한 것이 코드가 좀 더 간결해진다.
for key, value in drinks.items():
    if 'vodka' in value and not value & {'vermouth', 'cream'}:
        print(key)

black russian
screwdriver

In [346]:
# 뒤에서 사용하기 위해 변수 생성
bruss = drinks['black russian']
wruss = drinks['white russian']
print(bruss)
print(wruss)

{'vodka', 'kahlua'}
{'cream', 'vodka', 'kahlua'}

In [347]:
bruss & wruss

{'kahlua', 'vodka'}

In [348]:
bruss.intersection(wruss)

{'kahlua', 'vodka'}

** 2) set union operator(합집합) : '|' **

In [355]:
a|b

{1, 2, 3}

In [356]:
a.union(b)

{1, 2, 3}

In [357]:
bruss|wruss

{'cream', 'kahlua', 'vodka'}

In [358]:
bruss.union(wruss)

{'cream', 'kahlua', 'vodka'}

** 3) set difference operator(차집합) : '-' **

In [359]:
a-b

{1}

In [360]:
b-a

{3}

In [363]:
# 결과가 공집합이므로 set()으로 표현되었다
bruss-wruss

set()

In [364]:
wruss-bruss

{'cream'}

** 4) set symmetric_difference operator(대칭차집합) : '^' **  
한쪽 셋에는 들어있지만 양쪽 모두에 들어있지 않은 항목  
Uinon(합집합) - intersection(차집합)

In [367]:
# {1,2,3}-{2} = {1,3}
print(a)
print(b)
a^b

{1, 2}
{2, 3}

{1, 3}

In [368]:
a.symmetric_difference(b)

{1, 3}

In [369]:
bruss ^ wruss

{'cream'}

In [370]:
bruss.symmetric_difference(wruss)

{'cream'}

** 5) set subset operator(부분집합) : '<=' **  
첫 번째 셋이 두번째 셋의 서브셋인가?

In [371]:
print(a)
print(b)
a <= b

{1, 2}
{2, 3}

False

In [377]:
wruss.issubset(bruss)

False

In [375]:
print(bruss)
print(wruss)
bruss <= wruss

{'vodka', 'kahlua'}
{'cream', 'vodka', 'kahlua'}

True

In [376]:
bruss.issubset(wruss)

True

** 6) set superset operator(슈퍼집합) : '>=' **  
첫 번째 셋이 두번째 셋의 슈퍼셋인가?, 부분집합 반대개념

In [372]:
print(a)
print(b)
a >= b

{1, 2}
{2, 3}

False

In [380]:
a.issuperset(b)

False

In [374]:
print(bruss)
print(wruss)
bruss >= wruss

{'vodka', 'kahlua'}
{'cream', 'vodka', 'kahlua'}

False

In [381]:
bruss.issuperset(wruss)

False

** 7) set proper subset operator(진부분집합) : '<' **

In [383]:
a < b

False

In [384]:
bruss < wruss

True

** 8) set proper superset operator(진슈퍼셋집합) : '>' **

In [386]:
a>b

False

In [388]:
bruss > wruss

False